name: Deploy to Amazon ECS

on:
  push:
    branches: ['main']
  workflow_dispatch:

env:
  AWS_REGION: ap-south-2
  ECR_REPOSITORY: reacter-ai-repository
  ECS_SERVICE: reacter-ai-service
  ECS_CLUSTER: reacter-ai-cluster
  ECS_TASK_DEFINITION: ./ecs-task-defination.json
  CONTAINER_NAME: reacter-ai-container

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Login to Docker
        uses: docker/login-action@v1
        with:
          registry: ${{ steps.login-ecr.outputs.registry }}

      - name: Set up Docker Buildkit
        uses: docker/setup-buildx-action@v2
        with:
          buildkitd-flags: --debug

      - name: Copy task defination
        env:
          AWS_TASK_DEFINATION: ${{ secrets.AWS_TASK_DEFINATION }}
        run: |
          echo $AWS_TASK_DEFINATION >> ecs-task-defination.json

      - name: Get Tags for Image
        id: metadata
        uses: docker/metadata-action@v3
        with:
          images: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}
          tags: |
            type=raw,value=latest

      - name: Docker Build, Tag and Push to ECR
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/arm64
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          build-args: |
            GIT_SHA=${{ github.sha }}

      - name: Fill in the new image ID in the Amazon ECS task definition
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          container-name: ${{ env.CONTAINER_NAME }}
          image: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:latest
          task-definition: ${{ env.ECS_TASK_DEFINITION }}

      - name: Deploy Amazon ECS task definition
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          service: ${{ env.ECS_SERVICE }}
          cluster: ${{ env.ECS_CLUSTER }}
          wait-for-service-stability: true
          task-definition: ${{ steps.task-def.outputs.task-definition }}
